
{% extends 'base.html.twig' %}
{% block body %}

  <h2 class="register">Liste des archives</h2>

      <ul class="navbarList">
          <li class="button ombre">
            <a href="#">Filtre</a>
            <ul>          
              <li><a id="filtreCloture"href="/inter/list/intervention/cloture/asc/0">Ordre croissant</a></li>
              <li><a id="filtreNonCloture"href="/inter/list/intervention/cloture/asc/1">Ordre décroissant</a></li>
            </ul>
          </li>
      </ul>

    <div class="flex">
      {% for intervention in interventions %}    
        <div class="inter">
          <a class="inter-name-link" href="{{path ('inter_info', {id: intervention.id}) }}"> {{ intervention.name }} </a>
          <p class="inter-desc"> {{ intervention.description }} </p>
          <p class="inter-ot"> N°OT : {{ intervention.id }} </p>
          <p class="inter-ot"> opérateur affecté : {% if intervention.operateur %} {{ intervention.operateur.name }} {% endif %}</p>
    
          <p class="inter-ot-non-cloture"> {% if intervention.cloture == 0 %} non-cloturé {% endif %} </p>
          <p class="inter-ot-cloture"> {% if intervention.cloture == 1 %} cloturé {% endif %} </p>
          
          <a href="{{ path('intervention_edit', {id: intervention.id}) }}" class="editInter"> Modifier </a>
          <a href="{{ path('intervention_affect_ope', {id: intervention.id}) }}" class="editInter">Affecter un operateur</a>
                <a href="{{path ('cloture_finale', {id: intervention.id}) }}">Archiver</a>
        </div>        
      {% endfor %}
    </div>
{% endblock %}
 