
{% extends 'base.html.twig' %}
{% block body %}
    <div class="showHome">
        {% for intervention in interventions %}    
            <div class="inter-info">
                <p class="inter-name-info"> {{ intervention.name }} </p>
                <p class="inter-ot"> N°Ot : {{ intervention.N°OT }} </p>
                <p class="inter-desc"> {{ intervention.description }} </p>
                <p class="inter-ot"> Créée depuis : {{ intervention.CreatedAt.format('d/m/Y') }} </p>
                <p class="inter-ot"> {{ intervention.adresse }} </p>
                          
                <p class="inter-ot"> opérateur affecté : {% if intervention.operateur %} {{ intervention.operateur.name }} {% endif %}</p>
                <p class="inter-ot-non-cloture"> {% if intervention.cloture == 0 %} non-cloturé {% endif %} </p>
                <p class="inter-ot-cloture"> {% if intervention.cloture == 1 %} cloturé {% endif %} </p>

                <a href="http://www.google.fr/maps?um=1&tab=pl&ie=UTF-8&hl=fr&q={{ intervention.adresse }}">adresse </a>
                <a href="{{path ('add_rapport', {id: intervention.id}) }}">Rapport</a>
                <a href="{{path ('cloture', {id: intervention.id}) }}">Cloturer l'intervention</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
