
{% extends 'base.html.twig' %}
{% block body %}

        <ul class="navbarList">
          <li class="button ombre">
            <a href="#">Filtre</a>
            <ul>          
              <li><a id="filtreCloture"href="/inter/list/securite/filter/0">Le plus ancien</a></li>
              <li><a id="filtreNonCloture"href="/inter/list/securite/filter/1">Le plus récent</a></li>
              <li><a id="filtreNonCloture"href="/inter/list/securite/lues/0">A prendre en compte</a></li>
              <li><a id="filtreNonCloture"href="/inter/list/securite/lues/1">Pris en compte</a></li>
            </ul>
          </li>
        </ul>

    <div class="flex">
        {% for securite in securite %}    
            <div class="inter">
                <p class="inter-name"> {{ securite.user.Name}} </p>
                <p class="inter-name"> {{ securite.user.Surname}} </p>
                <p class="inter-name"> {{ securite.Client.adresse}} </p>
                <p class="inter-name"> {{ securite.titre }} </p>
                <p class="inter-desc"> {{ securite.description }} </p>
                <a class="hrefInterAddBySec" href="{{ path('intervention_add_securite', {id: securite.id }) }}">
                   Créer intervention
                </a>      
                <a href="/vt/add">
                   Créer VT
                </a>          
            </div>
        {% endfor %}
    </div>
{% endblock %}
