{% extends 'base.html.twig' %}

{% block title %}Tâches effectuées{% endblock %}

{% block body %}
    <h2 class="register">Vous verrez ici les tâches effectuées et pourrez modifiez les rapports</h2>


            <div class="filtre">
                <form class="formSearch" action="/ope/task/list/ot">
                    <input class="form-input" name="search" type="search"
                        placeholder="Recherche par n°ot...">
                    <button class="button ombre" type="submit"><i class="bi bi-search"></i></button>
                </form>
                <ul class="navbarList">
                  <li class="button ombre">
                    <a href="#">Filtre</a>
                    <ul>          
                      <li><a id="filtreCloture"href="/ope/list/task/cloture/oui">Cloturé</a></li>
                      <li><a id="filtreNonCloture"href="/ope/list/task/cloture/non">Non-cloturé</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
        

        <div class="flex">

            {% for rapport in intervention %}
                <div class="inter">
                    <a class="inter-name-link" href="{{path ('inter_info', {id: rapport.intervention.id}) }}"> {{ rapport.intervention.name }} </a>
                    <p class="inter-name"> {{rapport.operateur.Name}} </p>
                    <p class="inter-name"> {{rapport.Content}} </p>
                    <p class="inter-ot-non-cloture"> {% if rapport.intervention.cloture == 0 %} non-cloturé {% endif %} </p>
                    <p class="inter-ot-cloture"> {% if rapport.intervention.cloture == 1 %} cloturé {% endif %} </p>
                    <a href="{{ path('rapport_edit', {id: rapport.id}) }}">
                       modifier
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock %}
