{% extends 'base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <h2 class="register">Nouvelle Intervention</h2>
        <div class="showHome">
            {% for securite in securite %}    
                <div class="inter">
                    <p class="inter-name"> {{ securite.user.Name}} </p>
                    <p class="inter-name"> {{ securite.user.Surname}} </p>
                    <p class="inter-name"> {{ securite.Client.adresse}} </p>
                    <p class="inter-name"> {{ securite.titre }} </p>
                    <p class="inter-desc"> {{ securite.description }} </p>               
                </div>
            {% endfor %}
        </div>
        
        <div class="interventionForm">
            {{ form_start(intervention) }}
              {{ form_row(intervention.Name) }}
              {{ form_row(intervention.Description) }}
              {{ form_row(intervention.numero_ot) }}
              {{ form_row(intervention.adresse) }}
                  <button type="submit" class="btn">Register</button>
            {{ form_end(intervention) }}
        </div>
{% endblock %}
