{% extends 'base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <h2 class="register">Nouvelle Intervention</h2>
      <div class="interventionForm">
        {{ form_start(intervention) }}
          {{ form_row(intervention.Name) }}
          {{ form_row(intervention.Description) }}
          {{ form_row(intervention.numero_ot) }}
          {{ form_row(intervention.adresse) }}
          {{ form_row(intervention.Client, {
                label: 'Choississez un client à ajouter :  '
          }) }}
              <button type="submit" class="btn">Register</button>
        {{ form_end(intervention) }}
      </div>
{% endblock %}
